REACT_APP_SUPABASE_URL=https://mvxgnbqkcmddaoznxtix.supabase.co

REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Im12eGduYnFrY21kZGFvem54dGl4Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIxMTQ5ODYsImV4cCI6MjA5NzY5MDk4Nn0.5PVvy3q8-6GN8zPZJy_aDh8Kv0EjLAy09UuqqOjMoYU
