REACT_APP_SUPABASE_URL=https://sgnwhjabldmspwiieyku.supabase.co
REACT_APP_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNnbndoamFibGRtc3B3aWlleWt1Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODIwMTYxMzgsImV4cCI6MjA5NzU5MjEzOH0._KnNPqGg5IIFbFpxABeSHylVr7c_G7O-OkosIOcL4lg