*{
    margin:0;
    padding:0;
     box-sizing: border-box;
      font-family: Arial, sans-serif;
}
.activity-card{
     width:60%;
       background-color: #021644;
      border-bottom: 1px solid rgba(255,255,255,0.1);
       border-radius: 25px;
      color: white;
        backdrop-filter:blur(10px);
        padding:3%;
              justify-content:center;
      align-items:center;
     margin-bottom:30px;
     
}
 .graph{

      height:220px;

      display:flex;
      align-items:flex-end;

      gap:12px;

      margin-top:40px;
    }

.bar{

      flex:1;

      border-radius:20px 20px 0 0;

      background:linear-gradient(
        to top,
        cyan,
        blue
      );

      transition:0.3s;
    }
    .bar:hover{

      transform:translateY(-8px);

      opacity:0.8;
    }
    
@media (max-width: 1024px) {
     .activity-card{
     width:95%;
       background-color: #021644;
      border-bottom: 1px solid rgba(255,255,255,0.1);
       border-radius: 25px;
      color: white;
        backdrop-filter:blur(10px);
        padding:5%;
              justify-content:center;
      align-items:center;
      margin-left:5%;
     
   

}
}