*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media (max-width: 720px) {
  .bottom {
    flex-direction: column;
  }
  
}

@media (max-width: 1024px) {
  .bottom {
    flex-direction: column;
  }
  
}
